<div class="login">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <input
        type="email"
  
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()"><img class="boton1" src="https://st.depositphotos.com/1432405/54154/v/1600/depositphotos_541544274-stock-illustration-safe-login-icon-outline-vector.jpg"  alt="LoggIn"/></button>
    </form>
  </div>