.contenedor-map{
        
    position:relative;
    
    
    
} 
    .boton1{
    
    position:absolute;
    display: inline-block;
    top: 1%; left: 85%;
    max-block-size: 30%;
    
} 
.boton2{
    
    position:absolute;
    display: inline-block;
    top:75%; left: 75%;
    max-block-size: 20%;
    
} 
.boton3{
    
    position:absolute;
    display: inline-block;
    top:75%; left: 80%;
    max-block-size: 20%;
    
} 
.boton4{
    
    position:absolute;
    display: inline-block;
    top: 75%; left: 85%;
    max-block-size: 20%;
}
.contenedor{
    position:relative;
    display: inline-block;
    text-align:center;
    color: rgb(97, 237, 241);
    font-size:800%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
 

.centrado{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: rgb(50, 14, 182);
}